# ===========================================
# PYTHON
# ===========================================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/
env/
Pipfile.lock
poetry.lock

# Django stuff
*.log

# ===========================================
# ENVIRONMENT VARIABLES
# ===========================================
.env
*.env

# ===========================================
# IDE / EDITOR SPECIFIC FILES
# ===========================================
# PyCharm
.idea/
*.iml

# ===========================================
# LOGS & TEMPORARY FILES
# ===========================================
*.log
*.tmp
*.swp
*.swo
*.bak

# ===========================================
# JUPYTER NOTEBOOK
# ===========================================
.ipynb_checkpoints

# ===========================================
# CACHE & OTHER
# ===========================================
.cache/
*.cache